{% load static %}
<link rel="stylesheet" href="{% static 'styles/search.css' %}">
<div class="search_segment">
    <form action="/find">
        <p><b>Category:</b>{{ filter.form.category__name }}</p>
        <p><b>Manufacturer:</b>{{ filter.form.manufacturer }}</p>
        <p><b>Price below:</b>{{ filter.form.price__lt }}</p>
        <input type="search" name="product">
        <input type="hidden" name="page" value="1">
    </form>
</div>


<script src="{% static 'js/categories.js' %}"></script>