{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>ClappyBlappy shop</title>
</head>
<body>
    <header>
        {% include 'fragments/top_bar.html' %}
        <img src="../static/images/shop_theme.jpg" id="shop_theme">
    </header>
    {% include 'fragments/search.html' %}
    <div class="product_list">
        {% for product in products %}
            <div class="product">
                <img alt="https://depositphotos.com/vector-images/no-image-available.html" src="{{ product.image_src }}">
                <a href="/product/{{ product.id }}">{{ product.name }}</a>
                <span>
                    {% if product.rating == 0 %}
                        <p6 class="rating_label">Not rated</p6>
                    {% endif %}

                    {% if product.rating > 0 %}
                        <p6 class="rating_label">Rating: {{ product.rating }}/5</p6>
                    {% endif %}
                </span>
                <span>
                    <p6 class="price_tag">{{ product.price }}$</p6>
                </span>
            </div>
        {% endfor %}
    </div>
{% include 'fragments/footer.html' %}
</body>
</html>