<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    <header>
        {% include 'fragments/top_bar.html' %}
    </header>
    {% include 'fragments/search.html' %}
    <span class="preview_section">
        <img src="{% static product.image_src %}">
    </span>
    <span class="main_section">
        <div class="buttons">
            <button id="description" onclick="render_description('{{ product.description }}');">Description</button>
            <button id="contacts" onclick="render_contacts('{{ product.manufacturer }}', '{{ product.contact_info }}');">Contacts</button>
            <button id="reviews">Reviews</button>
        </div>
        <div class="body_section">
            <p>{{ product.description }}</p>
        </div>
    </span>
</body>
<script src="{% static 'js/product.js' %}"></script>
</html>